body {
    background-color:rosybrown;
}
h1{
    text-align:center;
    font-family:"Century Gothic";
}
form { 
    padding: 3px; width: 100%;
    //position:relative; bottom:-22px; 
    padding-top:80px;
}
form input { 
    border: 2px solid black; padding: 5px; width: 90%; margin-right: .5%;
}
form button {
    width: 9%; background: rgb(255, 0, 110); border: none; padding: 10px; 
}
button{
    color:white;
}
button:hover{
    background-color:rgb(200,0,55);
}
#messages {
    list-style-type: none; margin: 0; padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}
.panel{
    min-height:150px;
}
#btn_debug, btn_handedness{
    margin:15px;
    text-align:center;
}

footer{
    text-align:center;
    color:white;
    font-size:1.5em;
    font-family:"Century Gothic";
}
footer>a{
    text-decoration:none;
}
footer>a:hover{
    color:red;
}