<script type="text/html" id="template_rovPilot_thrustFactor">
  <div class="span1 pull-left">
    <h6>Thrust&nbsp;Factor</h6>
    <div class="label badge" data-bind="text: $data.thrustfactor"></div>
  </div>
</script>

<script type="text/html" id="template_leapmotion_navToolbar">
  <li>
    <a href="#" data-bind="click: toggleLasers, css: { enabled: lasersEnabled }" id="leapmotion_laser" class="leapmotion_Indicator">
      <div id="leapmotion_laserIcon"></div>
    </a>
  </li>
  <li>
    <a href="#" id="gamepad" data-bind="css: { hidden: gamepadDisconnected }">
      <img id="gamepadPopover" src="themes/OpenROV/img/gamepad.png" rel="popover">
    </a>
  </li>
  <li id="leapmotion_holdLabel"><span>Hold:</span></li>
  <li>
    <a href="#" data-bind="click: toggleDepthHold, css: { enabled: depthHoldEnabled }" id="leapmotion_depthHold" class="leapmotion_Indicator">Depth</a>
  </li>
  <li>
    <a href="#" data-bind="click: toggleHeadingHold, css: { enabled: headingHoldEnabled }" id="leapmotion_headingHold" class="leapmotion_Indicator">Heading</a>
  </li>
</script>